<div class="footer">
    <div class="footer-row">
        <div class="width-50">
            <img class="footer-logo" src="images/footer-logo.png" alt="">

        </div>
        <div class="input-email width-50">
            <input class="email-input" type="text" placeholder="Enter your email">
        </div>
    </div>
    <div class="links-row">
        <a class="active" href="/">Home</a>
        <a href="">About us</a>
        <a href="">Services</a>
        <a href="">Contact us</a>
        <a href="/blogdetail">Blog</a>
        <a href="/latestpodcast">Podcast</a>
    </div>
    <div class="greyline"> </div>
    <div class="footer-row1">
        <div class="width-50">

            <p class="copyright-text">Copyright © 2023 LITERALLY | All Rights Reserved</p>
        </div>
        <div class="width-50 right-float">
            <img src="images/facebook.png" alt="">
            <img src="images/Instagram.png" alt="">
            <img src="images/YouTube.png" alt="">
        </div>
    </div>
</div>

</body>
</head>