<nav>
    <ul class="NavUl">
      <li class="logoSvgNav"><a href=""></a><svg xmlns="http://www.w3.org/2000/svg" width="251" height="40"
          viewBox="0 0 251 40" fill="none">
          <g clip-path="url(#clip0_137_224)">
            <path
              d="M97.5894 0.0977594C103.035 0.0977594 108.349 -0.0978396 113.664 0.162959C117.838 0.391158 121.848 1.66255 124.913 4.66174C127.326 7.00892 128.924 9.91031 129.184 13.3985C129.38 16.2999 129.478 19.2339 127.945 21.8418C126.869 23.6348 125.533 25.2648 124.163 27.1882C126.413 31.1654 128.858 35.4686 131.369 39.9348C126.446 39.9348 121.783 39.9674 117.12 39.8696C116.599 39.8696 115.979 39.0872 115.62 38.533C113.925 35.8272 112.327 33.0888 110.436 30.4156V39.8696H97.622V0.0977594H97.5894ZM110.436 19.6903C112.882 19.9185 114.936 19.3643 116.109 17.3757C116.99 15.9087 116.892 14.0831 115.718 12.6813C114.381 11.0187 112.425 10.8231 110.403 10.8557V19.6903H110.436Z"
              fill="#F7CD1E" />
            <path
              d="M171.442 39.9674C167.301 39.9674 163.453 39.9348 159.638 39.9674C158.53 39.9674 158.301 39.1198 158.236 38.533C157.975 36.74 156.932 36.4792 155.367 36.5444C152.041 36.6422 148.715 36.5444 145.357 36.5444C144.9 37.6854 144.477 38.7938 144.085 39.8696H131.467C136.521 26.5362 141.542 13.3333 146.596 0.0651855C149.563 0.0651855 152.53 0.0651855 155.497 0.0977854C155.856 0.0977854 156.378 0.554183 156.508 0.912781C159.606 8.99754 162.703 17.0823 165.768 25.1671C167.627 30.0244 169.485 34.8818 171.442 39.9674ZM151.422 20.7009C150.443 23.2437 149.628 25.3953 148.748 27.6772H154.063C153.215 25.4279 152.4 23.2763 151.422 20.7009Z"
              fill="#F7CD1E" />
            <path
              d="M70.7874 0.130371H93.9375V10.4645H83.4058V15.0937H93.9701V24.8736H83.3732V29.5028H94.557V39.8696H70.7874V0.130371Z"
              fill="#F7CD1E" />
            <path
              d="M238.74 39.9022H225.535C225.535 39.2828 225.535 38.7612 225.535 38.207C225.535 33.8061 225.437 29.4051 225.567 25.0367C225.633 23.2763 225.111 21.7767 224.296 20.3097C221.296 14.8656 218.329 9.38879 215.329 3.91202C214.677 2.70582 213.96 1.46703 213.21 0.0978353C217.938 0.0978353 222.405 0.0978353 226.872 0.0978353C227.263 0.0978353 227.817 0.456433 228.013 0.815032C229.187 2.73842 230.263 4.72701 231.371 6.7156C231.599 7.1394 231.828 7.5958 232.154 8.28039C233.197 6.357 234.306 4.72701 235.056 2.93402C235.969 0.782432 237.208 -0.195563 239.718 3.58168e-05C243.37 0.293434 247.087 0.0652355 251.065 0.0652355C249.989 2.11902 249.044 4.04242 248 5.96581C246.598 8.57379 245.098 11.1166 243.696 13.7246C242.229 16.3978 240.762 19.1035 239.327 21.8093C239.001 22.4613 238.805 23.2437 238.805 23.9609C238.773 29.2095 238.805 34.4907 238.805 39.9022H238.74Z"
              fill="#F7CD1E" />
            <path d="M48.5176 10.5623H41.2139V0.195557H68.9615V10.4645H61.7882V39.8696H48.485V10.5623H48.5176Z"
              fill="#F7CD1E" />
            <path d="M0 0.162964H13.6619V29.4702H24.3892V39.8696H0V0.162964Z" fill="#F7CD1E" />
            <path d="M171.703 39.8696V0.195557H185.071V29.5028H196.157V39.837H171.703V39.8696Z" fill="#F7CD1E" />
            <path d="M197.624 0.130371H210.96V29.5028H221.948V39.9022H197.592V0.130371H197.624Z" fill="#F7CD1E" />
            <path d="M39.4858 39.9347H26.1826V0.228149H39.4858V39.9674V39.9347Z" fill="#F7CD1E" />
          </g>
          <defs>
            <clipPath id="clip0_137_224">
              <rect width="251" height="40" fill="white" />
            </clipPath>
          </defs>
        </svg></a></li>
      <li class="simpleLiNav"><a class="active" href="/">Home</a></li>
      <li class="simpleLiNav"><a href="/#aboutus">About us</a></li>
      <li class="simpleLiNav"><a href="/#services">Services</a></li>
      <li class="simpleLiNav"><a href="/#contactus">Contact us</a></li>
      <li class="simpleLiNav"><a href="/blogdetail">Blog</a></li>
      <li class="simpleLiNav"><a href="/latestpodcast">Podcast</a></li>
    </ul>
</nav>
  